<div class="main">
  <mat-grid-list cols="19" rowHeight="100px" style="background: #E0E0E0; color: #757575; margin-bottom: 10px">
    <mat-grid-tile colspan="2">
      <mat-form-field class="example-form-field">
        <mat-label>Iban / Alias</mat-label>
        <input matInput type="text" [(ngModel)]="filter.filterByIbanOrAlias">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <mat-form-field appearance="fill">
        <mat-label>Types</mat-label>
        <mat-select [(ngModel)]="filter.filterByType" multiple>
          <mat-select-trigger>
            {{filter.filterByType?.[0] || ''}}
            <span *ngIf="(filter.filterByType.length || 0) > 1" class="example-additional-selection">
              (+{{(filter.filterByType?.length || 0) - 1}} {{filter.filterByType?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let typeName of setOfTypenames" [value]="typeName">{{typeName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill">
        <mat-label>Company Names</mat-label>
        <mat-select [(ngModel)]="filter.filterByCompanyName" multiple>
          <mat-select-trigger>
            {{filter.filterByCompanyName?.[0] || ''}}
            <span *ngIf="(filter.filterByCompanyName.length || 0) > 1" class="example-additional-selection">
              (+{{(filter.filterByCompanyName?.length || 0) - 1}} {{filter.filterByCompanyName?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let companyName of companyNameSet" [value]="companyName">{{companyName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="19" rowHeight="50px" style="background: #E0E0E0; color: #757575; margin-bottom: 10px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile colspan="3">Intestazione</mat-grid-tile>
      <mat-grid-tile colspan="3">Azienda</mat-grid-tile>
      <mat-grid-tile colspan="3">Bank</mat-grid-tile>
      <mat-grid-tile colspan="3">IBAN / N.Raporta</mat-grid-tile>
      <mat-grid-tile colspan="3">Alias</mat-grid-tile>
      <mat-grid-tile colspan="3">Divisia</mat-grid-tile>
  </mat-grid-list>

  <div *ngFor="let accounts of arr | keyvalue">
    <div *ngIf="(accounts.value | filterForAccounts : filter.filterByIbanOrAlias : filter.filterByType : filter.filterByCompanyName).length">
      <mat-expansion-panel class="mb-30" [togglePosition]="'before'" expanded="{{accounts.value.length? 'true': 'false'}}">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold; padding-top: 5px">
            {{accounts.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list *ngFor="let account of accounts.value | filterForAccounts : filter.filterByIbanOrAlias : filter.filterByType : filter.filterByCompanyName" cols="19" rowHeight="30px">
          <mat-grid-tile><mat-icon [ngStyle]="{'color': (account._is_default_account ? '#0288D1' : '')}" >{{account._is_default_account ? 'star' : 'star_outline'}}</mat-icon></mat-grid-tile>
          <mat-grid-tile colspan="3">{{account._account_naming}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{account._company_name}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{account._abi_code}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{account._iban}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{!account._alias ? 'Empty' : account._alias}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{!account._currency ? 'Empty' : account._currency}}</mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </div>
  </div>
</div>
