<div class="main">
  <mat-grid-list cols="19" rowHeight="50px" style="background: #E0E0E0; color: #757575; margin-bottom: 10px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile colspan="3">Intestazione</mat-grid-tile>
      <mat-grid-tile colspan="3">Azienda</mat-grid-tile>
      <mat-grid-tile colspan="3">Bank</mat-grid-tile>
      <mat-grid-tile colspan="3">IBAN / N.Raporta</mat-grid-tile>
      <mat-grid-tile colspan="3">Alias</mat-grid-tile>
      <mat-grid-tile colspan="3">Divisia</mat-grid-tile>
  </mat-grid-list>

  <div *ngFor="let accounts of arr2 | keyvalue">
    <mat-expansion-panel class="mb-30" [togglePosition]="'before'" expanded="{{accounts.value.length? 'true': 'false'}}">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold; padding-top: 5px">
          {{accounts.key}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="!accounts.value.length">
        <mat-grid-list cols="19">
          <mat-grid-tile colspan="19">No data to represend</mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list *ngFor="let account of accounts.value" cols="19" rowHeight="30px">
        <mat-grid-tile><mat-icon [ngStyle]="{'color': (account.is_default_account ? '#0288D1' : '')}" >{{account.is_default_account ? 'star' : 'star_outline'}}</mat-icon></mat-grid-tile>
        <mat-grid-tile colspan="3">{{account.account_naming}}</mat-grid-tile>
        <mat-grid-tile colspan="3">{{account.company_name}}</mat-grid-tile>
        <mat-grid-tile colspan="3">{{account.abi_code}}</mat-grid-tile>
        <mat-grid-tile colspan="3">{{account.iban}}</mat-grid-tile>
        <mat-grid-tile colspan="3">{{!account.alias ? 'Empty' : account.alias}}</mat-grid-tile>
        <mat-grid-tile colspan="3">{{!account.currency ? 'Empty' : account.currency}}</mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </div>
</div>
